// material design palette
// green, light green
$darkPrimaryColor: #338435;
$lightPrimaryColor: #C8E6C9;
$primaryColor: #4CAF50;
$accentColor: #8BC34A;
$primaryTextColor: #212121;
$secondaryTextColor: #757575;
$textIconsColor: #FFFFFF;
$dividerColor: #BDBDBD;	

$backgroundColor: #FDFDFD;
